* {
  margin: 0px;
  padding: 0px;
  gap: 20px;
}

.header {
  display: flex;
  color: white;
  background-color: #2b84496f;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  margin-top: 20px;
  width: 95%;
  align-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.header > a:hover {
  background-color: rgba(255, 174, 0, 0.934);
  padding: 8px;
  font-size: 1.5em;
  border-radius: 10px;
  transform: scale(0.95);
}

.person {
  width: 80%;
  background-color: rgba(255, 174, 0, 0.934);
  flex-wrap: wrap;
  border-radius: 25px;
}

.im {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 400px;
}

.person:hover {
  margin-left: 20px;
  margin-bottom: 20px;
}

body {
  background-color: #1b512dfc;
 
}

a {
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: white;
  margin: 20px;
}

.m1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 5px;
  flex-wrap: wrap;
  flex-shrink: 1;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 2;
}

.m1-d1 {
  flex-wrap: wrap;
}

.m1 > div > h6 {
  background-color: rgba(255, 174, 0, 0.29);
  width: fit-content;
  font-size: large;
  padding: 10px;
  flex-wrap: wrap;
  align-content: center;
}

.m1 > div {
  /* 
    font-size:38px;
    font-weight: bold;
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; */
  color: white;
  flex-wrap: wrap;
}

.m1 > div > p {
  font-size: large;
  font-weight: lighter;
  margin-left: 30px;
  margin-top: 20px;
}

.m1 > div > h2 {
  margin-top: 8px;
  font-size: 50px;
  font-weight: bold;
  margin-left: 30px;
}

.m1 > div > h2 > span {
  background-color: rgba(255, 174, 0, 0.934);
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}

.m1button {
  background-color: dodgerblue;
  padding: 20px;
  width: 200px;
  color: aliceblue;
  font-weight: bold;
  line-height: 3px;
  border-radius: 25px;
  border: 1px solid white;
  margin-top: 10px;
}

.m1button:hover {
  margin-left: 30;
  margin-top: 20px;
  font-size: 20px;
  width: fit-content;
}

#hd-btn {
  height: 40px;
  background-color: rgba(255, 174, 0, 0.934);
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  flex-wrap: wrap;
}

#hd-p {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.m1-d2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  gap: 50px;
  background-color: rgb(202, 205, 209);
}
.m1-d2 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.934);
  border-radius: 15px;
  padding: 15px;
  color: black;
}
.m1-d2-title{
    display: flex;
    flex-direction:column;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    
}
.m1-d2>span{
    background-color: rgba(255, 174, 0, 0.934);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.m1-d2 > div > img {
  width: 250px;
  height: 200px;
  border-radius: 15px;
}
/* aling thge project and pro center flex */
.project {
  z-index: 1;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -200px;
  color: white;
}
.pro {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 30px;
  z-index: 1;
  color: white;
}

/* let paginate the cards */

.project {
  page: calc(5 / 2);
}
/* let get some media query to add some features to if */
@media screen and (max-width: 600px) {
  .m1 > div > h2 {
    font-size: 30px;
    margin-left: 10px;
  }
  .m1 > div > p {
    font-size: medium;
    margin-left: 10px;
    margin-right: 10px;
  }
  .m1-d2 > div > img {
    width: 200px;
    height: 150px;
    margin-top: 50px;
  }
  .m1-d2 > div > div {
    font-size: medium;
    padding: 8px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .m1-d2 > div > h4 > {
    font-size: medium;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .project {
    font-size: 2rem;
    width: 90%;
    margin-bottom: -100px;
  }
}

footer {
  display: flex;
  width: fit-content;
  height: 200px;
  padding: 50px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.chd-1-col {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: white;
  flex-wrap: wrap;
}

.chd-1-col > h6 {
  text-align: justify;
}

.chd-2-row,
.chd-3-row {
  background-color: rgba(255, 174, 0, 0.934);
  width: 300px;
  padding: 15px;
  height: 80px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.chd-4-col {
  width: 100%;
  /* border: 1px solid white; */
  height: fit-content;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;
  align-content: center;
}

.sec2{
    background-color: rgba(255, 174, 0, 0.934);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 1;
    height: 620px;
    overflow:visible;
    overflow-wrap: ;
    align-content: center;
    /* width: fit-content; */
}

.sec2-img-container{
    width: fit-content;
    display: flex;
    align-content: center;
    justify-content:end;
    padding: 0px;
    flex-shrink: 3;
    flex-wrap: wrap;
    /* padding-left: 200px; */
    flex-grow: 1;
    /* border: 1px solid; */
    padding: 0px;

}

.sec2-img-side{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: start;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px;
    /* border: 1px solid; */
    row-gap: 10px;
    /* padding-right: 200px; */
    padding: 0px;
}

.sec2-title-sp{
    background-color: #1b512dfc;
    width: fit-content;
    color: rgba(255, 174, 0, 0.934);

}

.sec2-img-side{
  font-size:x-large;
}

.sec2-bodyd-sp{
    text-align: justify;
    font-size: medium;
    flex-wrap: wrap;
}

.sec2-img-side-child{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    padding: 0%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.sec2-img-side-child-cont{
    display: flex;
    justify-content: space-around;
    padding: 0%;
    flex-wrap: wrap;
    font-size: x-small;
}

